@import "tailwindcss";
@import "./styles.css";
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";


@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
}

@custom-variant dark (&:where(.dark, .dark *));


.scroll-slim {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--bc) / 0.1) transparent;
}

.scroll-slim::-webkit-scrollbar {
    width: 3px;
}

.scroll-slim::-webkit-scrollbar-track {
    background: transparent;
}

.scroll-slim::-webkit-scrollbar-thumb {
    background-color: hsl(var(--bc) / 0.1);
    border-radius: 9999px;
}


.scroll-slim:hover::-webkit-scrollbar-thumb {
    background-color: hsl(var(--bc) / 0.3);
}

