/* Add custom animation */
@keyframes grow-x {
    from {
        width: 0;
    }

    to {
        width: 50%;
    }

    to {
        width: 100%;
    }
}

.animate-grow-x {
    animation: grow-x 2s ease-out forwards;
}

